// Fonts
$font_family_default: sans-serif;

// Colors
// --text
// --bacground
// --border
// --shadou
// --radius
// Viewports
$breakpoint-mobile: 320px;
$breakpoint-table: 768px;
$breakpoint-desctop: 1200px;

// Animations
